body {
    font-family: 'Roboto Condensed', sans-serif;
}

navbar { font-family:Verdana !important; }

@media (max-width: 992px) {

}

@media (max-width: 576px) {

}

[class*="col-"] {
    padding: 1rem;
}

.padding {
    padding-bottom: 2rem;
}

/* NAVBAR FORMATTING */
.navbar{
    padding: .8rem;
}

.navbar-brand img {
    height: 3.5rem;
}

.navbar-nav {
    margin-left: 2rem;
}

.navbar-nav li {
    padding-right: 20px;
}

#mainNavbar .nav-link {
    font-size: 1.1em !important;
    font-weight: 450;
    color: #067658;
    display: inline-block;
    position: relative;
}

#mainNavbar .nav-link:hover {
    opacity: 1;
}

#mainNavbar .nav-link::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #067658;
    width: 0%;
    bottom: 0px;
}

#mainNavbar .nav-link:hover::before {
    width: 80%;
}

.navbar-brand:hover {
    transform: scale(1.1);
}

.dropdown-item:active {
    background-color: #067658;
    color: white;
}

.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin-top: 0;
}

body {
    background: rgba(218, 215, 205,.3);
}

.heading {
    position: relative;
    height: 40vh;
    width: 100%;
}

.heading::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../Media/Photo/Truck-crop.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    opacity: .3;
}

.heading-box {
    display: block;
    width: 30%;
    height: 60%;
    position: absolute;
    /* top: 0; */
    /* right: 0; */
    bottom: 0;
    left: 0;
}

.heading-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0b5e47;
    opacity: .8;
}

.heading-title {
    /* color: #067658; */
    position: absolute;
    top: 30%;
    /* left: 50%; */
    right: 15%;
    font-weight: 900;
    align-items: center;
    justify-content: center;
    font-size: 4rem;
    text-align: right;
    text-transform: uppercase;
}

.heading-title h1 {
    font-size: 3rem;
    font-weight: 800;
    color: white;
}

.break {
    height: 2vh;
    background-color: gray;
}

.bio {
    position: relative;
    margin-bottom: 4rem;
    margin-top: 4rem;
}

.intro {
    padding-top: 2rem;
    width: 60%;
    position: relative;
    /* top: 0; */
    left: 10%;
    margin-top: 2rem;
}

.intro::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #0b5e47;
    opacity: .8;
}

.comp-title h3 {
    position: relative;
    color: white;
    padding-left: 1rem;
}

.comp-title p {
    position: relative;
    color: white;
    padding-left: 1.5rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
}

.btn-primary    {
    background-color: #067658;
    border: 1px solid #055B44;
    color: white;
}

.btn-primary:hover {
    background-color: #055B44;
    border: 1px solid #055B44;
    /* padding: 6px 15px; */
    font-weight: 500;
}

.partner-clients {
    padding-top: 2rem;
    color: #067658;
    padding-bottom: 2rem;
}

.pc-title h3 {
    font-size: 3rem;
    font-weight: 800;
}

.logo-img {
    position: relative;
    max-height: 80px;
    max-width: 100%;
    object-fit: contain;
    align-items: center;
}

/* FOOTER FORMATTING */
#footer-head {
    height: 3.6rem;
}

footer {
    background-color: #dfdfdf;
    color: #067658;
    padding-top: 1rem;
}
hr.light {
    border-top: 1px solid #067658;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
    margin-right: auto;
    margin-left: auto;
}